.form-wrap{
    /*border:1px solid red;*/
    position: relative;
    padding:4px 10px;
    float:left;
    width:100%;     
    height: 80px;
    margin:15px 0 0 0;
}

.error{
    color:red;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
    position: relative;
    float:left;
    width:100%;
}