.form-wrap{
    /*border:1px solid red;*/
    position: relative;
    padding:4px 10px;
    float:left;
    width:100%;     
    height: 80px;
    margin:15px 0 0 0;
}
/*my frame (!not responsive)*/
.whole,.ninty,.eighty,.seventy,.sixty-seven,.sixty,.half,.forty-nine,.half,.forty,.thirty-three,.thirty,.quarter,.twenty,.fifteen,.ten,.five{
    position: relative;
    float:left;
    min-height: 10px;
}
.whole{width:100% !important;}
.ninty{width:90% !important;margin:0 5%;   }
.eighty{width:80% !important;   }
.seventy{width:70% !Important;}
.sixty-seven{width:67% !Important;}
.sixty{width:60% !Important;}
.half{width:50% !Important;}
.forty{width:40% !Important;}
.forty-nine{width:49% !Important;}
.half{width:50% !Important;}
.thirty-three{width:33% !Important;}
.thirty{width:30% !Important;}
.quarter{width:25% !important;}
.twenty{width:20% !Important;}
.fifteen{width:15% !Important;}
.ten{width:10% !important;}
.five{width:5% !Important;}
section,article{position: relative;float:left;}
ul{list-style: none;padding:0px;}
a img{border: none;}

.go-right{
    float:right !Important;
}
h1,h2,h3,h4,h5{
    color:#444;
}
/*my frame (!not responsive)=== end here ! */
.wrapper{
    width:97%;
    float:left;
    position: relative;
    margin:0px 1.5%;
}
.main-bg{
    background-color: #f9f9f9;
    width:100%;
    float:left;
    z-index: -3;
}
header{
    width:100%;
    float:left;
    position: relative;
}
.panel-container{
    width:100%;
    float:left;
    position: relative;
    background: #fff;
/*     border:1px solid #ddd; */
    padding: 10px;
    top:-1px;
    margin-bottom: 15px;
    /*z-index: 1;*/
}
.table-container{
    width:80%;
    float:left;
    position: relative;
    background: #fff;
    border:1px solid #f7f7f7; 
    margin-bottom: 20px;
    margin-left:10%;
}
.form-wrap{
    /*border:1px solid red;*/
    position: relative;
    padding:4px 10px;
    float:left;
    width:100%;     
    height: 80px;
    margin:15px 0 0 0;
}

.error{
    color:red;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
    position: relative;
    float:left;
    width:100%;
}
