@CHARSET "ISO-8859-1";

.align-center {
	padding-left: 300px;
}
.container{
	padding-left: 100px;
	width: 100%;
}
.align-invitation {
	padding-left: 350px;
}

.login-group {
    margin-left: 350px;
    margin-top: 50px;
    /*     border: gray; */
    text-align: center;
    height: 200px;
    width: 700px;
    padding-top: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 3px double #ff0000 ;
    border-radius: 4px;
}

.submenu {
	margin-top: 20px;
	margin-left: 170px;
}

.header {
	color: #800000;
	text-shadow: blue;
	font-style: italic;
}

.btn-grp{
	margin-left: 800px;
}

.container_long_table {
    padding-left: 100px;
    width: 2200px;
}

.container_new {
    padding-left: 0px;
    padding-right: 20px;
    width: 2500px;
}