<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<title>Customer List</title>
</head>
<body>
	<div class="submenu">
		<form>
			<!-- <button class="btn" type="submit" value="productList"
				formaction="/showProductList">Product List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/showOrderList">Order List</button>
						<button class="btn btn-default" type="submit" value="User"
							formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="orderReport"
				formaction="orderReport">Order Report</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button> -->
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container">
		<form method="Post" model="Customers">
			<div class="">
				<h1>Customer List</h1>
				<div class="row sourcelist-box">
					<div class="col-sm-16">
						<br /> <br /> <br />
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Address</th>
									<th>Phone No. 1</th>
									<th>Phone No. 2</th>
									<th>Phone No. 3</th>
									<th>Email 1</th>
									<th>Email 2</th>
									<th>Login ID</th>
									<th>Shop Name</th>
									<th>Township</th>
									<th>Level</th>
									<th>Operation</th>
								</tr>
							</thead>
							<tr th:each="customerData, row:${customerList}">
								<td th:text="${row.count}"></td>
								<td th:text="${customerData.customerName}"></td>
								<td th:text="${customerData.address}"></td>
								<td th:text="${customerData.phoneNumber1}"></td>
								<td th:text="${customerData.phoneNumber2}"></td>
								<td th:text="${customerData.phoneNumber3}"></td>
								<td th:text="${customerData.email1}"></td>
								<td th:text="${customerData.email2}"></td>
								<td th:text="${customerData.loginId}"></td>
								<td th:text="${customerData.shopName}"></td>
								<td th:text="${customerData.township}"></td>
								<td th:text="${customerData.customerLevel.levelName}"></td>
								<td>
								<!-- <a th:href="'viewOrderRecordList?id=' + ${data.id}">Update</a>
							<input type="hidden" id="orderId" th:value="${data.id}" /> <a
							th:if="${data.orderStatus==1}" href="#" class="delete_link">Cancel</a> -->
							<button class="btn btn-primary" type="submit"
										name="customerId" th:value="${customerData.customerId}"
										formaction="/showUpdateCustomer">Update Customer</button>
									&nbsp;
									<button class="btn btn-danger" type="submit" name="customerId"
										th:value="${customerData.customerId}"
										formaction="/deleteCustomer">Delete Customer</button></td>
							</tr>
						</table>
						<div class="">
							<button class="btn btn-success" type="submit" name="customerId"
								formaction="/showCustomerRegister">Register New
								Customer</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</body>
</html>