<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<title>Delivery Report</title>
</head>
<body>
	<div class="submenu">
		<form>
			<!-- <button class="btn" type="submit" value="productList"
				formaction="/showProductList">Product List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/showOrderList">Order List</button>
			<button class="btn btn-default" type="submit" value="OrderReport"
				formaction="orderReport">Order Report</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
						<button class="btn" type="submit" value="deliveryReport"
							formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button> -->
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container">
		<form method="Post" model="">
			<h1>Delivery Report</h1>
			<div class="row sourcelist-box">
				<div class="col-sm-10">
					<br /> <br /> <br />
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Delivery Staff</th>
								<th>Delivery Date</th>
								<th>Delivery Location</th>
								<th>Delivery Amount</th>
								<th>Order Id</th>
								<th>Order User</th>
							</tr>
						</thead>
						<!-- 							<tr th:each="orderData,row : ${orderList}"> -->
						<!-- 								<td th:text="${row.count}"></td> -->
						<!-- 								<td><c:out th:text="${orderData.user.userName}"></c:out> -->
						<!-- 									&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
						<!-- 														<td><input type="checkbox" checked="checked" -->
						<!-- 															disabled="disabled" th:value="${sourceName}"> <c:out -->
						<!-- 																th:text="${sourceName}"></c:out> &nbsp;&nbsp;&nbsp;&nbsp; </input></td> -->
						<!-- 								<td><c:out th:text="${orderData.orderDate}"></c:out></td> -->
						<!-- 								<td><c:out th:text="${orderData.orderAmount}"></c:out></td> -->
						<!-- 								<td><c:out th:text="${orderData.orderTotal}"></c:out></td> -->
						<!-- 								<td><input type="text" name="deposit" id="deposit" -->
						<!-- 									value="0.0" /></td> -->
						<!-- 								<td><input th:type="hidden" th:name="orderId" id="orderId" -->
						<!-- 									th:value="${orderData.orderId}" /> -->
						<!-- 									<button class="btn btn-default" type="submit" name="orderId" -->
						<!-- 										formaction="/insertDeposit">Update</button></td> -->
						<!-- 							</tr> -->
						<tr>
							<td>1</td>
							<td>Kyaw Kyaw</td>
							<td>2017-08-09</td>
							<td>Yankin</td>
							<td>5000000</td>
							<td>1</td>
							<td>Aye Aye</td>
						</tr>
					</table>
				</div>
			</div>
		</form>

	</div>
</body>
</html>