<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/layout.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/dataTables.bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/sweetalert.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"></link> -->

<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/order/orderList.js"></script>
</head>
<style type="text/css">
.sorting, .sorting_asc, .sorting_desc, .no-sort1 {
	background: none !important;
	background-image: none !important;
}
</style>
<script>
	var APP_CONTEXT = '${pageContext.request.contextPath}';
</script>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container ">
		<h1>Order List</h1>
		<input type="hidden" id="errorMsg" th:value="${errorMsg}" /> <input
			type="hidden" id="successMsg" th:value="${successMsg}" />
		<div style="width: 100%">
			<table id="orderListTable" class="table table-striped table-bordered"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="no-sort1">No.</th>
						<!-- <th class="no-sort">Order No.</th> -->
						<th class="no-sort">Customer Name</th>
						<th class="no-sort">User Name</th>
						<th class="no-sort">Order Date</th>
						<th class="no-sort">Order Status</th>
						<th class="no-sort">Delivery Address</th>
						<th class="no-sort">Discount Amount</th>
						<th class="no-sort">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="data, row:${orderList}">
						<td th:text="${row.count}"></td>
						<td class="sData" th:text="${data.customerName}"></td>
						<td class="sData" th:text="${data.userName}"></td>
						<td class="sData" th:text="${data.orderDateStr}"></td>
						<td class="sData" th:text="${data.orderStatusDesc}"></td>
						<td class="sData" th:text="${data.deliveryAddress}"></td>
						<td class="sData" th:text="${data.discountAmount}"></td>
						<td><a th:href="'viewOrderRecordList?id=' + ${data.id}">Update</a>
							<input type="hidden" id="orderId" th:value="${data.id}" /> <a
							th:if="${data.orderStatus==1}" href="#" class="delete_link">Cancel</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>