<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/layout.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/dataTables.bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/sweetalert.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"></link> -->

<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/order/orderInvoice.js"></script>
</head>
<style type="text/css">
.sorting, .sorting_asc, .sorting_desc, .no-sort1 {
	background: none !important;
	background-image: none !important;
}
</style>
<script>
	var APP_CONTEXT = '${pageContext.request.contextPath}';
</script>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container">
		<form model="OrderRecordForm" action="invoiceOrderConfirm"
			method="post" id="orderFormId">
			<input type="hidden" name="id" id="id" th:value="0" />
			<!-- <input type="hidden" name="orderStatus" id="orderStatus" th:value="${OrderRecordForm.orderStatus}" />  -->
			<input type="hidden" name="orderId" id="orderId"
				th:value="${OrderRecordForm.orderId}" /> <input type="hidden"
				id="errorMsg" th:value="${errorMsg}" /> <input type="hidden"
				id="successMsg" th:value="${successMsg}" /> <input type="hidden"
				id="invConfirmOKMsg" th:value="${invConfirmOKMsg}" />
			<h1>Order Invoice</h1>
			<div class="small-row-space"></div>
			<div class="small-row-space"></div>
			<table id="orderRecordTable"
				class="table table-striped table-bordered" cellspacing="0"
				width="100%">
				<thead>
					<tr>
						<th class="no-sort1">No.</th>
						<th class="no-sort">Code No.</th>
						<th class="no-sort">Stock Name</th>
						<th class="no-sort">Category Name</th>
						<th class="no-sort">Sub Category</th>
						<th class="no-sort">Brand</th>
						<th class="no-sort">Color</th>
						<th class="no-sort">Stock Balance</th>
						<th class="no-sort">Qty Large</th>
						<th class="no-sort">Qty Middle</th>
						<th class="no-sort">Qty Small</th>
						<th class="no-sort">Packing Large</th>
						<th class="no-sort">Packing Middle</th>
						<th class="no-sort">Order Status</th>
						<th class="no-sort">Delivery Qty Large</th>
						<th class="no-sort">Delivery Qty Middle</th>
						<th class="no-sort">Delivery Qty Small</th>
						<th class="no-sort">Total Delivery Qty</th>
						<th class="no-sort">Price</th>
						<th class="no-sort">Discount Amt</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="data, row:${OrderRecordForm.orderRecordList}">
						<td th:text="${row.count}"></td>
						<td class="cls-codeNo" th:text="${data.codeNumber}"></td>
						<td class="cls-stkName" th:text="${data.stockName}"></td>
						<td class="cls-catName" th:text="${data.categoryName}"></td>
						<td class="cls-subCat" th:text="${data.subCategory}"></td>
						<td class="cls-brandName" th:text="${data.brandName}"></td>
						<td class="cls-color" th:text="${data.color}"></td>
						<td class="cls-totalQty" th:text="${data.totalStockBalance}"></td>
						<td class="cls-qtyL" th:text="${data.qtyL}"></td>
						<td class="cls-qtyM" th:text="${data.qtyM}"></td>
						<td class="cls-qtyS" th:text="${data.qtyS}"></td>
						<td class="cls-packingL" th:text="${data.packingL}"></td>
						<td class="cls-packingM" th:text="${data.packingM}"></td>
						<td class="cls-orderStaus" th:text="${data.orderStatusDesc}"></td>
						<td class="cls-deli-qtyL" th:text="${data.deliveryQtyL}"></td>
						<td class="cls-deli-qtyM" th:text="${data.deliveryQtyM}"></td>
						<td class="cls-deli-qtyS" th:text="${data.deliveryQtyS}"></td>
						<td class="cls-deli-orderQty" th:text="${data.totalOrderQty}"></td>
						<td class="cls-sellingPrice" th:text="${data.sellingPrice}"></td>
						<td class="cls-disAmt" th:text="${data.orderRecDiscAmt}"></td>
					</tr>
				</tbody>
			</table>
			<div class="whole">
				<div class="half">
					<div class="form-wrap" style="height: 30px">
						<div class="forty">Total Selling Price</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice"
								id="sellingPrice" th:value="${OrderRecordForm.sellingPrice}"
								readonly="readonly"></input>
						</div>
					</div>
					<div class="form-wrap" style="height: 30px">
						<div class="forty">Discount Amount</div>
						<div class="sixty">
							<input type="text" class="form-control" name="discAmt"
								id="discAmt" th:value="${OrderRecordForm.discAmt}"></input>
						</div>
					</div>
					<div class="form-wrap" style="height: 30px">
						<div class="forty">Total Amount</div>
						<div class="sixty">
							<input type="text" class="form-control" name="totalAmt"
								id="totalAmt" th:value="${OrderRecordForm.totalAmt}"
								readonly="readonly"></input>
						</div>
					</div>
					<!-- Start Modified by AungPhyo -->
					<div class="form-wrap" style="height: 30px">
						<div class="forty">Delivery Date</div>
						<div class="sixty">
							<input class="form-control date-picker" type="text"
								name="deliveryDate" id="deliveryDate" />
							<div class="error" id="deliveryDateErrMsg"></div>
						</div>
					</div>
					<!-- End Modified by AungPhyo -->
					<div class="form-wrap" style="height: 30px">
						<div class="half">
							<button class="btn btn-success" type="submit"
								value="orderConfirm" id="orderConfirm">Order Confirm</button>
							<!-- <button class="btn btn-success" type="button" value="printInvoice"
						id="confirm">Print Order Invoice</button> -->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>