<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/mystyle.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<title>Stock Detail</title>
</head>
<script type="text/javascript">
	function showImage() {
		alert("test");
		alert(imageByte);

		var imageByte = document.getElementById("imageByte").value;
		document.getElementById("productImage").src = "data:image/png;base64,"
				+ imageByte;
	}
</script>
<body onloadstart="showImage()">
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container align-invitation">
		<form th:object="${ProductForm}" enctype="multipart/form-data"
			method="post">
			<h1>Product Update</h1>
			<div class="form-group row">
				<label for="codeNumber" class="col-sm-3 col-form-label">
					Code Number :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="codeNumber"
						id="codeNumber" th:field="*{codeNumber}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group row">
				<label for="productName" class="col-sm-3 col-form-label">
					Stock Name :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="productName"
						id="productName" th:field="*{productName}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group row">
				<label for="category" class="col-sm-3 col-form-label">
					Category :</label>
				<!-- <div class="col-sm-4">
					<input class="form-control" type="text" name="category"
						id="category" th:field="*{category}" />
				</div> -->
				<div class="col-sm-4">
					<select class="form-control" name="categoryId" id="categoryId">
						<option th:each="cat:${categoryList}" th:value="${cat.id}"
							th:text="${cat.name}"></option>
					</select>
					<!-- <select class="form-control" name="category" th:field="*{category}">
						<option selected="selected" th:value="*{category}"></option>
						<option th:selected="*{category}" th:value="*{category}"
							th:text="*{category}"></option>
						<option th:if="${ProductForm} == 'Office'" th:text="Office"
							th:value="*{category}" th:selected="*{category}"></option>
						<option th:text="Office" th:value="Office"></option>
						<option th:text="Writing" th:value="*{category}"
							th:selected="*{category}"></option>
						<option th:text="Colouring" th:value="*{category}"
							th:selected="*{category}"></option>
						<option th:text="School" th:value="*{category}"
							th:selected="*{category}"></option>
						<option th:text="Framing" th:value="*{category}"
							th:selected="*{category}"></option>
						<option th:text="Displays" th:value="*{category}"
							th:selected="*{category}"></option>
					</select> -->
				</div>
			</div>

			<div class="form-group row">
				<label for="brandName" class="col-sm-3 col-form-label">
					Brand Name :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="brandName"
						id="brandName" th:field="*{brandName}" />
				</div>
			</div>

			<div class="form-group row">
				<label for="color" class="col-sm-3 col-form-label"> Color :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="color" id="color"
						th:field="*{color}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="purchasePrice" class="col-sm-3 col-form-label">
					Purchase Price :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="purchasePrice"
						id="averagePrice" th:field="*{purchasePrice}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="averagePrice" class="col-sm-3 col-form-label">
					Average Price :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="averagePrice"
						id="averagePrice" th:field="*{averagePrice}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="quantityLarge" class="col-sm-3 col-form-label">
					Quantity :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="quantityLarge"
						th:field="*{quantityLarge}" id="quantityLarge" />
				</div>
			</div>
			<div class="form-group row">
				<label for="packingMedium" class="col-sm-3 col-form-label">
					Quantity (packages) :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="packingMedium"
						th:field="*{packingMedium}" id="packingMedium" />
				</div>
			</div>
			<div class="form-group row">
				<label for="packingSmall" class="col-sm-3 col-form-label">
					Pieces (pieces per package) :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="packingSmall"
						id="packingMedium" th:field="*{packingMedium}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="image" class="col-sm-3 col-form-label"> Product
					Image :</label>
				<div class="col-sm-4">
					<input class="form-control" type="file" name="productImage"
						accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG|image/*" id="productImage"
						th:field="*{productImage}" /> <input class="form-control"
						type="hidden" name="imageByte" th:field="*{imageByte}"
						id="imageByte" readonly="readonly" />
					<!-- <input class="form-control" type="text" name="imageByte"
						th:value="${imageDataString}" id="imageByte" readonly="readonly" /> -->
					<img alt="productImage" id="productImage"
						th:src="${imageDataString}" />
					<!-- <input class="form-control" type="hidden" name="imageByte" th:field="*{imageByte}"
						id="imageByte" readonly="readonly" /> -->

				</div>
			</div>
			<input class="form-control" type="hidden" name="productId"
				th:field="*{id}" id="productId" readonly="readonly" />
			<button class="btn btn-danger" type="submit" value="back"
				formaction="/showUpdateConfirm">Update</button>
			<button class="btn btn-danger" type="button" value="back"
				onclick="location.href='/showProductList'">Back</button>
		</form>
	</div>
</body>
</html>