<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/layout.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/dataTables.bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/sweetalert.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"></link> -->

<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/stock/stockEntry.js"></script>
</head>
<script>
	var APP_CONTEXT = '${pageContext.request.contextPath}';
	/* $(document).ready(function(){
	 $('#saleEntry').DataTable();
	 }); */
</script>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="panel-container">
		<form model="ProductForm" action="registerProducts" method="post"
			enctype="multipart/form-data" id="stockForm">
			<input type="hidden" name="id" id="id" th:value="0" /> <input
				type="hidden" name="prevAvgPrice" id="prevAvgPrice" /> <input
				type="hidden" name="stockId" id="stockId" /> <input type="hidden"
				name="prevCodeNo" id="prevCodeNo" />
			<div class="table-container">
				<h1>Stock Entry</h1>
				<div class="small-row-space"></div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Code Number</div>
						<div class="sixty">
							<input type="text" class="form-control" name="codeNumber"
								id="codeNumber" required="required"></input>
							<div class="error" id="codeNumberErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Product Name</div>
						<div class="sixty">
							<input type="text" class="form-control" name="productName"
								id="productName" required="required"></input>
							<div class="error" id="productNameErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Category</div>
						<div class="sixty">
							<select class="form-control" name="categoryId" id="categoryId"
								required="required">
								<option th:each="cat:${categoryList}" th:value="${cat.id}"
									th:text="${cat.name}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Sub Category</div>
						<div class="sixty">
							<input type="text" class="form-control" name="subCategory"
								id="subCategory" required="required"></input>
							<div class="error" id="subCategoryErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Brand</div>
						<div class="sixty">
							<input type="text" class="form-control" name="brandName"
								id="brandName" required="required"></input>
							<div class="error" id="brandNameErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Color</div>
						<div class="sixty">
							<input type="text" class="form-control" name="color" id="color"
								required="required"></input>
							<div class="error" id="colorErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Purchase Price</div>
						<div class="sixty">
							<input type="text" class="form-control" name="purchasePrice"
								id="purchasePrice" required="required"></input>
							<div class="error" id="purchasePriceErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Average Price</div>
						<div class="sixty">
							<input type="text" class="form-control" name="averagePrice"
								id="averagePrice" readonly="readonly"></input>
							<div class="error" id="averagePriceErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 1</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice1"
								id="sellingPrice1" required="required"></input>
							<div class="error" id="sellingPrice1ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 2</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice2"
								id="sellingPrice2" required="required"></input>
							<div class="error" id="sellingPrice2ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 3</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice3"
								id="sellingPrice3" required="required"></input>
							<div class="error" id="sellingPrice3ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 4</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice4"
								id="sellingPrice4" required="required"></input>
							<div class="error" id="sellingPrice4ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Description</div>
						<div class="sixty">
							<input type="text" class="form-control" name="description"
								id="description" required="required"></input>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Quantity Large</div>
						<div class="sixty">
							<input type="text" class="form-control" name="quantityLarge"
								id="quantityLarge" required="required"></input>
							<div class="error" id="quantityLargeErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Package (packing per box)</div>
						<div class="sixty">
							<input type="text" class="form-control" name="packingMedium"
								id="packingMedium" required="required"></input>
							<div class="error" id="packingMediumErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Pieces (pieces per package)</div>
						<div class="sixty">
							<input type="text" class="form-control" name="packingSmall"
								id="packingSmall" required="required"></input>
							<div class="error" id="packingSmallErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Unit Of Measurement</div>
						<div class="sixty">
							<input type="text" class="form-control" name="unitMeasurement"
								id="unitMeasurement" required="required"></input>
							<div class="error" id="unitMeasurementErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Image</div>
						<div class="sixty">
							<input type="file" class="form-control" name="stockImage"
								id="stockImage" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG|image/*"
								required="required"></input>
							<div class="error" id="stockImageErrMsg"></div>
							<!-- <input class="form-control"
						type="hidden" name="imageByte" th:field="*{imageByte}"
						id="imageByte" readonly="readonly" />
					
					<img alt="stockImage" id="stockImage"
						th:src="${imageString}" /> -->
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Currency</div>
						<div class="sixty">
							<select class="form-control" name="currencyId" id="currencyId"
								required="required">
								<option th:each="cur:${currencyList}" th:value="${cur.id}"
									th:text="${cur.name}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="thirty-three exchangeRateDiv" style="display: none">
					<div class="form-wrap">
						<div class="forty">Exchange Rate</div>
						<div class="sixty">
							<input type="text" class="form-control" name="exchangeRateAmt"
								id="exchangeRateAmt" th:value="${exchangeRateAmt}"
								readonly="readonly"></input>
						</div>
					</div>
				</div>
				<!-- <div class="thirty-three">
					<div class="form-wrap">
						<div class="forty"></div>
						<div class="sixty">
							<input type="hidden"></input>
						</div>
					</div>
				</div> -->
				<div class="seventy">
					<button class="btn btn-success" type="submit" value="save"
						id="register">Register</button>
					<button class="btn btn-success" type="submit" value="reset"
						id="reset">Reset</button>
				</div>
			</div>
		</form>
	</div>
	<div style="width: 100%; padding: 30px">
		<table id="saleEntry" class="table table-striped table-bordered"
			cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>No.</th>
					<th>Code No.</th>
					<th>Product Name</th>
					<th>Category Name</th>
					<th>Sub Category</th>
					<th>Brand</th>
					<th>Color</th>
					<th>Purchase Price</th>
					<th>Average Price</th>
					<th>Selling Price1</th>
					<th>Selling Price2</th>
					<th>Selling Price3</th>
					<th>Selling Price4</th>
					<th>Description</th>
					<th>Qty Large</th>
					<th>Qty Middle</th>
					<th>Qty Small</th>
					<th>Unit Of Measurement</th>
					<th>Image</th>
					<th>Currency Name</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productData, row:${productList}">
					<td th:text="${row.count}"></td>
					<td class="sData" th:text="${productData.codeNumber}"></td>
					<td class="sData" th:text="${productData.productName}"></td>
					<td class="sData" th:text="${productData.categoryName}"></td>
					<td class="sData" th:text="${productData.subCategory}"></td>
					<td class="sData" th:text="${productData.brandName}"></td>
					<td class="sData" th:text="${productData.color}"></td>
					<td class="sData" th:text="${productData.purchasePrice}"></td>
					<td class="sData" th:text="${productData.averagePrice}"></td>
					<td class="sData" th:text="${productData.sellingPrice1}"></td>
					<td class="sData" th:text="${productData.sellingPrice2}"></td>
					<td class="sData" th:text="${productData.sellingPrice3}"></td>
					<td class="sData" th:text="${productData.sellingPrice4}"></td>
					<td class="sData" th:text="${productData.description}"></td>
					<td class="sData" th:text="${productData.quantityLarge}"></td>
					<td class="sData" th:text="${productData.quantityMedium}"></td>
					<td class="sData" th:text="${productData.quantitySmall}"></td>
					<td class="sData" th:text="${productData.unitMeasurement}"></td>
					<td class="sData" th:text="${productData.currencyId}"></td>
					<td class="sData" th:text="${productData.currencyName}"></td>
					<td><input type="hidden" class="ids"
						th:value="${productData.categoryId}" /> <input type="hidden"
						class="ids" th:value="${productData.currencyId}" /> <!-- <input type="hidden" class="ids" th:value="${productData.imageByte}" />
				<input type="hidden" class="ids"  th:value="${productData.imageString}" /> -->
						<input type="hidden" id="packingM"
						th:value="${productData.packingMedium}" /> <input type="hidden"
						id="packingS" th:value="${productData.packingSmall}" /> <input
						type="hidden" id="pId" th:value="${productData.id}" /> <a
						th:href="'stock/detail/' + ${productData.id}">Detail</a> <a
						href="#" class="update_link">Update</a> <a href="#"
						class="delete_link">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>