<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<title>Stock List</title>
</head>

<body>
	<div class="submenu">
		<form>
			<!-- 			<button class="btn" type="submit" value="productList" -->
			<!-- 				formaction="/showProductList">Product List</button> -->
			<!-- <button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Order List</button>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn btn-default" type="submit" value="orderReport"
				formaction="orderReport">Order Report</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button> -->
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container ">
		<form model="Product">
			<div class="container">
				<h1>Product List</h1>
				<div class="row sourcelist-box">
					<div class="col-sm-10">
						<br /> <br /> <br />
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Code Number</th>
									<th>Stock Name</th>
									<th>Stock Category</th>
									<th>Brand Name</th>
									<th>Operation</th>
								</tr>
							</thead>
							<tr th:each="productData, row:${productList}">
								<td th:text="${row.count}"></td>
								<td th:text="${productData.codeNumber}"></td>
								<td th:text="${productData.productName}"></td>
								<td th:text="${productData.category}"></td>
								<td th:text="${productData.brandName}"></td>
								<td><a th:href="'stock/detail/' + ${productData.id}">Detail</a>
									<a th:href="'stock/update/' + ${productData.id}">Update</a> <a
									th:href="'stock/delete/' + ${productData.id}">Delete</a></td>
							</tr>
						</table>
						<div class="btn-grp">
							<button class="btn btn-danger" type="submit" value="stockEntry"
								formaction="/showStockRegister">Register New Stock</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</body>
</html>