<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/layout.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/dataTables.bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/sweetalert.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"></link> -->

<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/stock/stockList.js"></script>
</head>
<style type="text/css">
.sorting, .sorting_asc, .sorting_desc, .no-sort1 {
	background: none !important;
	background-image: none !important;
}
</style>
<script>
	var APP_CONTEXT = '${pageContext.request.contextPath}';
</script>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container ">
		<h1>Stock List</h1>
		<input type="hidden" id="errorMsg" th:value="${errorMsg}" /> <input
			type="hidden" id="successMsg" th:value="${successMsg}" />
		<div style="width: 100%">
			<table id="stockListTable" class="table table-striped table-bordered"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="no-sort1">No.</th>
						<th class="no-sort">Code No.</th>
						<th class="no-sort">Stock Name</th>
						<th class="no-sort">Category Name</th>
						<th class="no-sort">Sub Category</th>
						<th class="no-sort">Brand</th>
						<th class="no-sort">Color</th>
						<th class="no-sort">Average Price</th>
						<th class="no-sort">Selling Price1</th>
						<th class="no-sort">Selling Price2</th>
						<th class="no-sort">Selling Price3</th>
						<th class="no-sort">Selling Price4</th>
						<th class="no-sort">Quantity Per Box</th>
						<th class="no-sort">Quantity Per Package</th>
						<th class="no-sort">Stock Balance</th>
						<!-- <th class="no-sort">Unit Measurement</th>
				<th class="no-sort">Description</th> -->
						<th class="no-sort">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr id="${data.id }" th:each="data, row:${stockList}">
						<td th:text="${row.count}"></td>
						<td class="sData" th:text="${data.codeNumber}"></td>
						<td class="sData" th:text="${data.stockName}"></td>
						<td class="sData" th:text="${data.categoryName}"></td>
						<td class="sData" th:text="${data.subCategory}"></td>
						<td class="sData" th:text="${data.brandName}"></td>
						<td class="sData" th:text="${data.color}"></td>
						<td class="sData" th:text="${data.averagePrice}"></td>
						<td class="sData" th:text="${data.sellingPrice1}"></td>
						<td class="sData" th:text="${data.sellingPrice2}"></td>
						<td class="sData" th:text="${data.sellingPrice3}"></td>
						<td class="sData" th:text="${data.sellingPrice4}"></td>
						<td class="sData" th:text="${data.packingMedium}"></td>
						<td class="sData" th:text="${data.packingSmall}"></td>
						<td class="sData" th:text="${data.totalQty}"></td>
						<!-- <td class="sData" th:text="${data.unitMeasurement}"></td>
				<td class="sData" th:text="${data.description}"></td> -->
						<td><a th:href="'viewStockRegister?id=' + ${data.id}">Update</a>
							<a th:href="'stockDetail?id=' + ${data.id}">Detail</a> <input
							type="hidden" class="stockId" th:value="${data.id}" /> <a
							href="#" class="delete_link">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>