<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/layout.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/dataTables.bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/sweetalert.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"></link> -->

<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/stock/stock.js"></script>
</head>
<script>
	var APP_CONTEXT = '${pageContext.request.contextPath}';
</script>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="panel-container">
		<form model="StockForm" action="registerStock" method="get"
			enctype="multipart/form-data" id="stkForm">
			<input type="hidden" name="id" id="id" th:value="${StockForm.id}" />
			<input type="hidden" name="oldCodeNumber" id="oldCodeNumber"
				th:value="${StockForm.oldCodeNumber}" /> <input type="hidden"
				id="errorMsg" th:value="${errorMsg}" /> <input type="hidden"
				id="successMsg" th:value="${successMsg}" />
			<div class="table-container">
				<h1>Stock Update</h1>
				<div class="small-row-space"></div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Code Number</div>
						<div class="sixty">
							<input type="text" class="form-control" name="codeNumber"
								id="codeNumber" th:value="${StockForm.codeNumber}"
								required="required"></input>
							<div class="error" id="codeNumberErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Stock Name</div>
						<div class="sixty">
							<input type="text" class="form-control" name="stockName"
								id="stockName" th:value="${StockForm.stockName}"
								required="required"></input>
							<div class="error" id="stockNameErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Category</div>
						<div class="sixty">
							<select class="form-control" name="categoryId" id="categoryId"
								th:value="${StockForm.categoryId}" required="required">
								<option th:each="cat:${categoryList}" th:value="${cat.id}"
									th:text="${cat.name}"></option>
							</select>
							<div class="error" id="categoryIdErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Sub Category</div>
						<div class="sixty">
							<input type="text" class="form-control" name="subCategory"
								id="subCategory" th:value="${StockForm.subCategory}"
								required="required"></input>
							<div class="error" id="subCategoryErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Brand</div>
						<div class="sixty">
							<input type="text" class="form-control" name="brandName"
								id="brandName" th:value="${StockForm.brandName}"
								required="required"></input>
							<div class="error" id="brandNameErrMsg"></div>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Color</div>
						<div class="sixty">
							<input type="text" class="form-control" name="color" id="color"
								required="required" th:value="${StockForm.color}"></input>
							<div class="error" id="colorErrMsg"></div>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 1</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice1"
								id="sellingPrice1" th:value="${StockForm.sellingPrice1}"
								required="required"></input>
							<div class="error" id="sellingPrice1ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 2</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice2"
								id="sellingPrice2" th:value="${StockForm.sellingPrice2}"
								required="required"></input>
							<div class="error" id="sellingPrice2ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 3</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice3"
								id="sellingPrice3" th:value="${StockForm.sellingPrice3}"
								required="required"></input>
							<div class="error" id="sellingPrice3ErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Selling Price 4</div>
						<div class="sixty">
							<input type="text" class="form-control" name="sellingPrice4"
								id="sellingPrice4" th:value="${StockForm.sellingPrice4}"
								required="required"></input>
							<div class="error" id="sellingPrice4ErrMsg"></div>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Package (packing per box)</div>
						<div class="sixty">
							<input type="text" class="form-control" name="packingMedium"
								id="packingMedium" th:value="${StockForm.packingMedium}"
								required="required"></input>
							<div class="error" id="packingMediumErrMsg"></div>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Pieces (pieces per package)</div>
						<div class="sixty">
							<input type="text" class="form-control" name="packingSmall"
								id="packingSmall" th:value="${StockForm.packingSmall}"
								required="required"></input>
							<div class="error" id="packingSmallErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Unit Measurement</div>
						<div class="sixty">
							<input type="text" class="form-control" name="unitMeasurement"
								id="unitMeasurement" th:value="${StockForm.unitMeasurement}"
								required="required"></input>
							<div class="error" id="unitMeasurementErrMsg"></div>
						</div>
					</div>
				</div>
				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Image</div>
						<div class="sixty">
							<input type="file" class="form-control" name="stockImage"
								id="stockImage" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG|image/*"
								required="required"></input>
							<div class="error" id="stockImageErrMsg"></div>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Total Balance</div>
						<div class="sixty">
							<input type="text" class="form-control" name="totalQty"
								id="totalQty" th:value="${StockForm.totalQty}"
								readonly="readonly"></input>
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Average Price</div>
						<div class="sixty">
							<input class="form-control" type="text" name="averagePrice"
								th:value="${StockForm.averagePrice}" id="averagePrice"
								readonly="readonly" />
						</div>
					</div>
				</div>

				<div class="thirty-three">
					<div class="form-wrap">
						<div class="forty">Description</div>
						<div class="sixty">
							<textarea class="form-control" name="description"
								id="description" th:value="${StockForm.description}"></textarea>
						</div>
					</div>
				</div>

				<div class="seventy">
					<button class="btn btn-success" type="submit" value="save"
						id="register">Register</button>
					<button class="btn btn-success" type="submit" value="reset"
						id="reset">Reset</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>