<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<title>User List</title>
</head>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container ">
		<form method="Post" model="Users">
			<div class="container">
				<h1>User List</h1>
				<div class="row sourcelist-box">
					<div class="col-sm-8">
						<br /> <br /> <br />
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>User Name</th>
									<th>Login ID</th>
									<th>Role</th>
									<th>Operation</th>
								</tr>
							</thead>
							<!-- 							<tr th:each="orderData,row : ${orderList}"> -->
							<!-- 								<td th:text="${row.count}"></td> -->
							<!-- 								<td><c:out th:text="${orderData.user.userName}"></c:out> -->
							<!-- 									&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
							<!-- 														<td><input type="checkbox" checked="checked" -->
							<!-- 															disabled="disabled" th:value="${sourceName}"> <c:out -->
							<!-- 																th:text="${sourceName}"></c:out> &nbsp;&nbsp;&nbsp;&nbsp; </input></td> -->
							<!-- 								<td><c:out th:text="${orderData.orderDate}"></c:out></td> -->
							<!-- 								<td><c:out th:text="${orderData.orderAmount}"></c:out></td> -->
							<!-- 								<td><c:out th:text="${orderData.orderTotal}"></c:out></td> -->
							<!-- 								<td><input type="text" name="deposit" id="deposit" -->
							<!-- 									value="0.0" /></td> -->
							<!-- 								<td><input th:type="hidden" th:name="orderId" id="orderId" -->
							<!-- 									th:value="${orderData.orderId}" /> -->
							<!-- 									<button class="btn btn-default" type="submit" name="orderId" -->
							<!-- 										formaction="/insertDeposit">Update</button></td> -->
							<!-- 							</tr> -->
							<tr th:each="userData, row:${userList}">
								<td th:text="${row.count}"></td>
								<td th:text="${userData.name}"></td>
								<td th:text="${userData.loginId}"></td>
								<td th:text="${userData.roleId.roleName}"></td>
								<td><button class="btn btn-primary" type="submit"
										name="userId" th:value="${userData.id}"
										formaction="/showUpdateUsers">Update User</button> &nbsp;
									<button class="btn btn-danger" type="submit" name="userId"
										th:value="${userData.id}" formaction="/deleteUsers">Delete
										User</button></td>
							</tr>
						</table>
						<div class="">
							<button class="btn btn-success" type="submit" name="userId"
								formaction="/showUserRegister">Register New User</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</body>
</html>