<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="img/app_icon.ico"></link>
<title>User Updater</title>
</head>
<body>
	<div class="submenu">
		<form>
			<button class="btn btn-default" type="submit" value="User"
				formaction="/showUserList">User List</button>
			<button class="btn btn-default" type="submit" value="Customer"
				formaction="/showCustomerList">Customer List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockPurchaseList">Stock Purchase List</button>
			<button class="btn" type="submit" value="productList"
				formaction="/viewStockRegister">Stock Register</button>
			<button class="btn" type="submit" value="stockList"
				formaction="/viewStockList">Stock List</button>
			<button class="btn" type="submit" value="orderList"
				formaction="/viewOrdersList">Orders List</button>
			<button class="btn btn-default" type="submit" value="orderHistory"
				formaction="/orderHistory">Order History</button>
			<button class="btn" type="submit" value="deliveryReport"
				formaction="/deliveryReport">Delivery Report</button>
			<button class="btn btn-danger" type="submit" value="Logout"
				formaction="/index">Logout</button>
		</form>
	</div>
	<div class="container align-invitation">
		<form method="Post" model="UsersForm">
			<h1>User Update</h1>
			<div class="form-group row">
				<label for="name" class="col-sm-3 col-form-label"> User Name
					:</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="name" id="name"
						th:value="${user.name}" required="required" />
				</div>
			</div>
			<div class="form-group row">
				<label for="date" class="col-sm-3 col-form-label"> Login
					name :</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="loginId" id="loginId"
						th:value="${user.loginId}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group row">
				<label for="date" class="col-sm-3 col-form-label"> Role :</label>
				<div class="col-sm-4">
					<select class="form-control" th:field="*{user.roleId}">
						<option th:each="role:${rolesList}" th:value="${role.id}"
							th:text="${role.roleName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="date" class="col-sm-3 col-form-label"> Old
					Password :</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" name="oldPassword"
						id="oldPassword" required="required" />
				</div>
			</div>
			<div class="form-group row">
				<label for="date" class="col-sm-3 col-form-label"> Password
					:</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" name="password"
						id="password" required="required" />
				</div>
			</div>
			<div class="form-group row">
				<label for="time" class="col-sm-3 col-form-label"> Confirm
					Password :</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" name="confirmPassword"
						id="confirmPassword" required="required" />
				</div>
			</div>
			<button class="btn btn-danger" type="submit" value="updateUsers"
				formaction="updateUsers">Update User</button>
		</form>
	</div>
</body>
</html>